In [91]:
import sklearn
from sklearn.feature_extraction import DictVectorizer

In [92]:
data_dict = [{"Identifiable": 0, "relates to":1},
            {"Identifiable": 0, "relates to":0},
            {"Identifiable": 1, "relates to":1}]

In [93]:
dictvectorizer=DictVectorizer(sparse=False)
features = dictvectorizer.fit_transform(data_dict)

In [94]:
features

array([[0., 1.],
       [0., 0.],
       [1., 1.]])

In [95]:
feature_names= dictvectorizer.get_feature_names()

import pandas as pd

df=pd.DataFrame(features, columns=feature_names)

In [96]:
dictvectorizer=DictVectorizer(sparse=False)
features = dictvectorizer.fit_transform(data_dict)
features
import pandas as pd
pd.DataFrame(features, columns=feature_names)

   Identifiable  relates to
0           0.0         1.0
1           0.0         0.0
2           1.0         1.0

In [97]:
features

array([[0., 1.],
       [0., 0.],
       [1., 1.]])

In [98]:
feature_names

['Identifiable', 'relates to']

In [99]:
columns=feature_names
columns

['Identifiable', 'relates to']

In [100]:
df.rename(columns={'Identifiable':'identifiable', 'relates to': 'r'})

   identifiable    r
0           0.0  1.0
1           0.0  0.0
2           1.0  1.0

In [101]:
columns

['Identifiable', 'relates to']

In [102]:
df

   Identifiable  relates to
0           0.0         1.0
1           0.0         0.0
2           1.0         1.0

In [103]:
columns

['Identifiable', 'relates to']

In [104]:
df['Name'] = ''

In [105]:
df

   Identifiable  relates to Name
0           0.0         1.0
1           0.0         0.0
2           1.0         1.0